.block-grid {
  padding: 0 1rem;
}

.block-grid h1 {
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
}

.block-grid-list {
  @include outer-container;
}

.block-grid-item {
  @include span-columns(4);
  @include omega(3n);
}
