.featured {
  padding: 0 1rem;
}

.featured h1 {
  font-size: 1.5rem;
  line-height: 2;
  text-align: center;
}

.featured-list {
  @include outer-container;
}

.featured-item {
  @include span-columns(4);
  @include omega(3n);
}
